* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F6F8FC;
}

.content-wrapper {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background-color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  .content-wrapper {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 2000px) {
  .content-wrapper {
    max-width: 1800px;
  }
}
