.pokemon-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .8rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pokemon {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}

.normal {
  background-color: #A6A877;
}

.grass {
  background-color: #77C850;
}

.fire {
  background-color: #EE7F30;
}

.water {
  background-color: #678FEE;
}

.electric {
  background-color: #f7Cf2E;
}

.ice {
  background-color: #98D5D7;
}

.ground {
  background-color: #DFBF69;
}

.flying {
  background-color: #A98FF0;
}

.poison {
  background-color: #A040A0;
}

.fighting {
  background-color: #BF3029;
}

.psychic {
  background-color: #F65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #B8A137;
}

.bug {
  background-color: #A8B720;
}

.ghost {
  background-color: #6E5896;
}

.steel {
  background-color: #B9B7CF;
}

.dragon {
  background-color: #6F38F6;
}

.fairy {
  background-color: #F9AEC7;
}

.pokemon .number {
  width: 100%;
  font-size: .8rem;
  color: #000000;
  opacity: .3;
  text-align: right;
}

.pokemon .name {
  color: #FFFFFF;
  margin-bottom: .25rem;
  text-transform: capitalize;
}

.pokemon .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .details .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .details .types .type {
  color: #FFFFFF;
  text-align: center;
  min-width: 4rem;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;
  border-radius: 1rem;
  filter: brightness(.9)
}

.pokemon .details img {
  max-width: 90px;
  height: 70px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.button {
  width: 100%;
  padding: .8rem;
  border-radius: 1rem;
  background-color: #8C79DB;
  color: #FFFFFF;
  text-transform: capitalize;
  border: none;
}

.button:hover {
  background-color: #7e6dc5;
}
@media screen and (min-width: 380px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
